body            {  font-family:-apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira  Sans", "Droid Sans", "Helvetica Neue",sans-serif; background: #FBFCFD; }
a, h1, h2       { color: #03070A; }
h1, h2          { font-family: 'Arial', serif; margin: 0; }
h1              { border-bottom: 1px solid #03070A; }
h2              { font-size: 1.0em; }

.page           { margin: 0em auto; width: 35em; border: 0.5px solid #03070A;
                  padding: 0.8em; background: white; }
.entries        { list-style: square; margin: 1; padding: 0; }
.entries li     { margin: 0.8em 0.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.0em; border-bottom: 0px solid #224E6B; }
.add-entry dl   { font-weight: normal; }
.metanav        { text-align: left; font-size: 0.0em; padding: 0.5em;
                  margin-bottom: 0em; background: #FBFCFD; }
.flash          { background: #EBF3F8; padding: 0.5em;
                  border: 3px solid #EBF3F8; }
.error          { background: #EBF3F8; padding: 0.5em; }